@using Microsoft.AspNetCore.Mvc.Rendering
@using Newtonsoft.Json
@inject IHtmlHelper<TractorTracker.Web.Models.BaseModels.Chassis> Html

@model TractorTracker.Web.Models.BaseModels.Chassis

@if (Model != null)
{
    <ul>
        <li>@Html.LabelFor(m => m.SerialNumber) @Model.SerialNumber</li>
        <li>@Html.LabelFor(m => m.Weight) @Model.RustRating</li>
        <li>@Html.LabelFor(m => m.RustRating) @Model.RustRating</li>
        <li>@Html.LabelFor(m => m.LastCleaningAndLubricationDate) @Model.LastCleaningAndLubricationDate</li>
    </ul>
    var jsonChassis = JsonConvert.SerializeObject(Model);
    <input type="hidden" id="chassisModel" value="@jsonChassis" />

    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" id="chassis" data-model-id="chassis">
        Update Chassis
    </button>
}
else
{
    var newChassis = new TractorTracker.Web.Models.BaseModels.Chassis();
    var jsonChassis = JsonConvert.SerializeObject(newChassis);
    <input type="hidden" id="chassisModel" value="@jsonChassis" />

    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" id="chassis" data-model-id="chassis">
        Add Chassis
    </button>

}