@using Microsoft.AspNetCore.Mvc.Rendering
@using Newtonsoft.Json
@inject IHtmlHelper<TractorTracker.Web.Models.BaseModels.Engine> Html

@model TractorTracker.Web.Models.BaseModels.Engine

@if (Model != null)
{
    <ul>
        <li>@Html.LabelFor(m => m.SerialNumber) @Model.SerialNumber</li>
        <li>@Html.LabelFor(m => m.Type) @Model.Type</li>
        <li>@Html.LabelFor(m => m.Weight) @Model.Weight</li>
        <li>@Html.LabelFor(m => m.Size) @Model.Size</li>
        <li>@Html.LabelFor(m => m.HorsePower) @Model.HorsePower</li>
        <li>@Html.LabelFor(m => m.NumberOfCylinders) @Model.NumberOfCylinders</li>
        <li>@Html.LabelFor(m => m.Fuel) @Model.Fuel</li>
        <li>@Html.LabelFor(m => m.OilType) @Model.OilType</li>
        <li>@Html.LabelFor(m => m.LastOilChange) @Model.LastOilChange</li>
        <li>@Html.LabelFor(m => m.LastFilterChange) @Model.LastFilterChange</li>
    </ul>
    var jsonEngine = JsonConvert.SerializeObject(Model);
    <input type="hidden" id="engineModel" value="@jsonEngine" />

    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" data-itemid="engine" data-model-id="engine">
        Update Engine
    </button>
}
else
{
    var newEngine = new TractorTracker.Web.Models.BaseModels.Engine();
    var jsonEngine = JsonConvert.SerializeObject(newEngine);
    <input type="hidden" id="engineModel" value="@jsonEngine" />

    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" data-itemid="engine" data-model-id="engine">
        Add Engine
    </button>

}
