@using Microsoft.AspNetCore.Mvc.Rendering
@using Newtonsoft.Json
@inject IHtmlHelper<List<TractorTracker.Web.Models.BaseModels.Note>> Html

@model List<TractorTracker.Web.Models.BaseModels.Note>

@if (Model != null && Model.Count > 0)
{
	foreach(var note in Model)
	{
		<div class="note">
			<ul>
				<li>@Html.LabelFor(m => m.FirstOrDefault().Title) @note.Title</li>
				<li>@Html.LabelFor(m => m.FirstOrDefault().Description) @note.Description</li>
			</ul>
		</div>
		
	}
}
@{
	var newNote = new TractorTracker.Web.Models.BaseModels.Note();
	var jsonNote = JsonConvert.SerializeObject(newNote);
}
<input type="hidden" id="noteModel" value="@jsonNote" />
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" data-itemid="note" data-model-id="note">
	Add Note
</button>