@using Microsoft.AspNetCore.Mvc.Rendering
@using Newtonsoft.Json
@inject IHtmlHelper<TractorTracker.Web.Models.BaseModels.Transmission> Html


@model TractorTracker.Web.Models.BaseModels.Transmission

@if (Model != null)
{
    <ul>
        <li>@Html.LabelFor(m => m.SerialNumber) @Model.SerialNumber</li>
        <li>@Html.LabelFor(m => m.Name) @Model.Name</li>
        <li>@Html.LabelFor(m => m.Type) @Model.Type</li>
        <li>@Html.LabelFor(m => m.LastFluidChange) @Model.LastFluidChange</li>
        <li>@Html.LabelFor(m => m.LastFilterChange) @Model.LastFilterChange</li>
    </ul>
    var jsonTransmission = JsonConvert.SerializeObject(Model);
    <input type="hidden" id="transmissionModel" value="@jsonTransmission" />

    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" data-itemid="transmission" data-model-id="transmission">
        Update Transmission
    </button>
}
else
{
    var newTransmission = new TractorTracker.Web.Models.BaseModels.Transmission();
    var jsonTransmission = JsonConvert.SerializeObject(newTransmission);
    <input type="hidden" id="transmissionModel" value="@jsonTransmission" />
 
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" data-itemid="transmission" data-model-id="transmission">
        Add Transmission
    </button>

}
